

.logo {
    height: 20em;
    padding: .5%;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em var(--color-backshadow));
}
.card {
    padding: 2em;

}
.HomeBtn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--color-text);
    background-color: var(--color-button);
    cursor: pointer;
    transition: border-color 0.25s,transform 0.3s ease-in-out;

}
.HomeBtn:hover {
    border-color: var(--color-hover-button);
    transform: scale(1.1);

}
.HomeBtn:focus,
.HomeBtn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}