:root {
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
          "wdth" 100;
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, ;*/
  /*line-height: 1.5;*/
  /*font-weight: 400;*/

  /*color-scheme: light dark;*/
  /*color: rgb(251, 228, 234);*/
  /*background-color: rgba(33, 28, 51, 0.9);*/
  --color-background: #fefaf4;
  --color-foreground: #efe9e0;
  --color-text: #795dac;
  --color-hover-text-color: #553b7a;
  --color-hover-button: #6F8FA8FF;
  --color-backshadow: #795dac;
  --color-active: #3a6880;
  --color-button: #efe9e0;
  --color-header: #3a6880;
  --color-h1: #3a6880;
  --color-h2: #6f8fa8;
  --color-box: #efe9e0;
  --color-box-text: #795dac;
  --color-box-header: #6f8fa8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  padding: 0;
}


a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hover-text-color);
}
body {
  margin: 32px;
  padding: 0;
  display: flex;
  place-items: center;
  max-width: 5000px;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark {
  --color-background: rgb(33, 28, 51);
  --color-foreground: #2d2344;
  --color-text: #fbe4ea;
  --color-hover-text-color: #ff95ce;
  --color-hover-button: #FF95CEFF;
  --color-backshadow: #ff95ce;
  --color-active: #ff7bc5;
  --color-button: #2d2344;
  --color-header: #553b7a;
  --color-h2: #f4b9c1;
  --color-h1: #ff7bc5;
  --color-box: #fbe4ea;
  --color-box-text: #553b7a;
  --color-box-header: #2D2344FF;
}
p {
  color: var(--color-text);
  padding-right: 10%;
  padding-left: 10%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-h1);
}
h2 {
  color: var(--color-h2);
}

button {

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button);
  color: var(--color-text);
  cursor: pointer;
  transition: border-color 0.25s,transform 0.3s ease-in-out;

}
button:hover {
  border-color: var(--color-hover-text-color);
  color: var(--color-hover-text-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.partBtn{
  color: var(--color-text);
}